.profile__container_add-button {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background: #000;
    width: 150px;
    height: 50px;
    padding: 0;
    cursor: pointer;
}

.profile__container_add-button:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    .profile__container_add-button {
        width: 282px;
        margin: 36px 0 0;
    }
}