.popup__image {
    max-width: 75vw;
    max-height: 75vh;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .popup__image {
        max-width: 240px;
        max-height: 299px;
    }
}