.profile__info {
    display: grid;
    grid-template-columns: 294px 24px;
    column-gap: 19px;
    row-gap: 9px;
    grid-template-areas:
        "a c"
        "b b";
    align-items: center;
}

@media only screen and (max-width:600px) {
    .profile__info {
        grid-template-columns: 190px 24px;
        margin-left: 28px;
        margin-top: 22px;
        column-gap: 5px;
    }
}