.form__box {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 30px 0 0;
    width: 358px;
    padding: 0 0 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    .form__box {
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        margin: 36px 0 0;
        padding: 0 0 9px;
    }
}